
 .body{
    background-color: #00ac68 ;
    }

    .well {
    background-color:white;
    border: none;

    margin:0 auto;
    margin-top:6%;
    margin-bottom:5%;
    
 }
 
 .inicioParrafo{
     font-weight: bolder;
     font-size: 1.5em;
     font-family: "Open Sans", sans-serif;
     color: #00ac66 ;

 }
 input[type="text"]
 {
     margin-bottom: 2%;
     margin-top: 4%;
     height: 50px;
     border-radius: 0px;
     }

input[type="password"]{
         height: 50px;
         border-radius: 0px;
 }
 footer{
     color:white;
     text-align: center;
 }

 body img{
     margin-top: 10%;
 }

 .loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 1s all;
    opacity: 0;
}
.loading.show {
    opacity: 1;
}
.loading .spin {
    border: 3px solid hsla(185, 100%, 62%, 0.2);
    border-top-color: #3cefff;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}    

